table {
  border-collapse: collapse;
  height: 505px;
  width: 735px;
}

img {
  width: 100%;
}

td {
  border: 5px solid black;
  height: 50px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

img {
  margin-top: 20px;
}

.string_problem {
  height: 60px;
}

tr:nth-child(1) td:nth-child(1) {
  width: 10mm;
  height: 20mm;
}

tr:nth-child(1) td:nth-child(2) {
  height: 5mm;
  width: 70mm;
}

tr:nth-child(1) td:nth-child(3) {
  height: 5mm;
  width: 70mm;
}

tr:nth-child(1) td:nth-child(4) {
  width: 10mm;
  height: 50mm;
}

tr:nth-child(1) td:nth-child(5) {
  width: 10mm;
  height: 50mm;
}

tr:nth-child(2) td:nth-child(1) {
  height: 15mm;
}

tr:nth-child(2) td:nth-child(2) {
  height: 15mm;

}

tr:nth-child(2) td:nth-child(3) {
  height: 15mm;
}

tr:nth-child(3) td:nth-child(1) {
  width: 10mm;
  height: 50mm;
}
tr:nth-child(3) td:nth-child(2) {
  width: 20mm;
  height: 50mm;
}
tr:nth-child(3) td:nth-child(3) {
  width: 10mm;
  height: 50mm;
}

tr:nth-child(3) td:nth-child(4) {
  width: 20mm;
  height: 40mm;
}
tr:nth-child(3) td:nth-child(5) {
  width: 10mm;
  height: 40mm;
}

tr:nth-child(3) td:nth-child(6) {
  width: 25mm;
  height: 40mm;
}

tr:nth-child(3) td:nth-child(7) {
  width: 40mm;
  height: 40mm;
}

tr:nth-child(3) td:nth-child(8) {
  width: 10mm;
  height: 15mm;
}

tr:nth-child(4) td:nth-child(1) {
  width: 10mm;
  height: 15mm;
}

tr:nth-child(4) td:nth-child(2) {
  width: 10mm;
  height: 15mm;
}

tr:nth-child(4) td:nth-child(3) {
  width: 10mm;
  height: 15mm;
}

tr:nth-child(4) td:nth-child(4) {
  width: 10mm;
  height: 15mm;
}

tr:nth-child(4) td:nth-child(5) {
  width: 10mm;
  height: 15mm;
}

tr:nth-child(4) td:nth-child(6) {
  width: 10mm;
  height: 15mm;
}

tr:nth-child(5) td:nth-child(1) {
  width: 10mm;
  height: 30mm;
}

tr:nth-child(5) td:nth-child(2) {
  width: 20mm;
  height: 30mm;
}

tr:nth-child(5) td:nth-child(3) {
  width: 10mm;
  height: 27mm;
}

tr:nth-child(5) td:nth-child(4) {
  width: 50mm;
  height: 27mm;
}

tr:nth-child(5) td:nth-child(5) {
  width: 10mm;
  height: 27mm;
}

tr:nth-child(5) td:nth-child(6) {
  width: 5mm;
  height: 27mm;
}

tr:nth-child(5) td:nth-child(7) {
  width: 5mm;
  height: 27mm;
}
tr:nth-child(5) td:nth-child(8) {
  width: 10mm;
  height: 27mm;
}

tr:nth-child(6) td:nth-child(1) {
  width: 10mm;
  height: 20mm;
}

tr:nth-child(6) td:nth-child(2) {
  width: 30mm;
  height: 20mm;
}

tr:nth-child(6) td:nth-child(3) {
  width: 25mm;
  height: 20mm;
}

tr:nth-child(7) td:nth-child(1) {
  width: 30mm;
  height: 10mm;
}













